<label for="creating_account">
	<h2>Create Account</h2>
</label>

<%= render "shared/credentials", action: users_url,
																 username_name: "user[username]",
																 pw_name: "user[password]",
																 creating_account: true %>




