<form action=<%= action %> method="post">
	<%= auth_token %>

	<label for="credentials_username">Username</label>
	<input type="text" id="credentials_username" name=<%= username_name %> value="">
	<br>
	
	<label for="credentials_pw">Password</label>
	<input type="password" id="credentials_username" name=<%= pw_name %> value="">
	<br>

	<% if creating_account %>
		<label for="credentials_email">E-mail Account</label>
		<input type="text" id="credentials_email" name="user[email]" value="">
		<br>
	<% end %>

	<br>
	<button type="submit">Submit</button>	
</form>
